GDMS_ASPNETCORE_ENVIRONMENT=Development
GDMS_POSTGRES_PASSWORD=gdms_dev_password
GDMS_FIREBASE_PROJECT_ID=gdms-dev
GDMS_FIREBASE_USE_EMULATOR=true
GDMS_FIREBASE_REMOTE_CONFIG_TEMPLATE=gdms-default
GDMS_API_ENABLE_HTTPS_REDIRECTION=true
GDMS_JWT_ISSUER=gdms-api-dev
GDMS_JWT_AUDIENCE=gdms-clients-dev
GDMS_JWT_SIGNING_KEY=change-this-jwt-signing-key-with-at-least-32-characters
GDMS_OCR_DEFAULT_ENGINE=tesseract
GDMS_OCR_DEFAULT_LANGUAGES=spa+eng
GDMS_OCR_ALLOWED_SOURCE_ROOTS=/app/artifacts
GDMS_OCR_MAX_PAGES=100
GDMS_OCR_MAX_FILE_MB=200
GDMS_OCR_RETENTION_HOURS=72
